<p id="notice"><%= notice %></p>

<p>
  <strong>Object:</strong>
  <%= @email.object %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<p>
  <strong>Read:</strong>
  <%= @email.read %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', root_path %>  <!--it can also be emails_path but I just switched it to root-->

